.abtUs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f1f0f6;

    .hero-image,
    .hero-container {       
        width: 50%;
        padding: 2rem;
    }

    .hero-image{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75%;
    }

    .hero-container {
        // font-size: 1.8rem;       
        flex-direction: column;

        h3{
            font-size: 4.4rem;
            margin-bottom: 2.5rem;
        }

        p{
            font-size: 1.4rem;
            // padding: 2rem;
        }
    }

    .img {
        height: 120%;
        width: 80%;
        // background-color: aliceblue;
        position: relative;
        // top: 10rem;

        img{
            height: 100%;
            width: 100%;
            border-radius: 5px;
        }
    }
}