@use 'mixins.scss' as *;

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f0f6;
    
    h1{
        padding: 2rem;
        font-size: 4.4rem;
        letter-spacing: 0.5px;
    }

    p{
        padding: 2rem;
        font-size: 1.6rem;
        letter-spacing: 0.5px;
    }

    .hero-placeholder{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: absolute;

        .hero-image{
            height: 110%;
            width: 40%;
            // background-color: #f1f0f6;
            
            img{
                height: 100%;
                width: 100%;
                border-radius: 0px 0px 0px 10px;
            }
        }

        .hero-image-buttons{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            height: 90%;
            width: 60%;
            // background-color: #01756e;
            background: linear-gradient(135deg, #00887f, #01756e);
            // background: radial-gradient(red, yellow, circle at top);

            .btn-left, .btn-right{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;
                width: 45px;
                border: 1px solid rgb(80, 79, 79);
                border-radius: 50%;
                margin: 3rem;
            }
        }
    }

    .hero-header{
        height: 50%;
        width: 85%;
        position: relative;
        top: 8rem;
    }

    .hero-search-container{
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #ffffff;
        border-radius: 10px;

        .hero-category, .hero-name, .hero-search, .hero-location{
            width: 25%;
            height: 100%;   
            cursor: pointer;       
        }

        .hero-search{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #01a79d;
            color: #ffffff;
            text-align: center;
            cursor: pointer;
            border-radius: 0px 10px 10px 0px;

            &:hover{
                background-color: #00887f;
            }
        }
    }
}