header{
    height: 100vh;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;

    
    h1{
        padding: 2rem;
        font-size: 48px;
    }

    p{
        padding: 2rem;
        font-size: 28px;
        letter-spacing: 0.5px;
        // font-weight: bold;
    }

    .hero-placeholder{
        // background-color: red;
        height: 100%;
        width: 100%;
        // z-index: -1;
        position: absolute;

        .hero-image{
            height: 100%;
            width: 50%;
            background-color: blueviolet;
        }
    }

    .hero-header{
        height: 50%;
        width: 90%;
        position: relative;
        top: 6rem;
        // top: auto;
    }

    .hero-search-container{
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: red;

        .hero-category, .hero-name, .hero-search, .hero-location{
            width: 25%;
            height: 100%;          
        }

        .hero-location{
            background-color: aliceblue;
        }

        .hero-name{
            background-color: blue;
        }

        .hero-category{
            background-color: yellow;
        }

        .hero-search{
            background-color: magenta;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover{
                background-color: rebeccapurple;
            }
        }
    }
}