.offers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #ffffff;

    .hero-box-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 20%;
        background-color: #01a79d;
        // background-color: red;

        h2 {
            font-weight: 600;
            font-size: 2.6rem;
            text-align: center;
        }
    }

    .hero-offer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
        height: 100%;
        // background-color: rebeccapurple;
    }

    .hero-offer {
        height: 55%;
        width: 20%;
        margin: 1rem;
        background-color: #01a79d;
        cursor: pointer;

        .hero-image {
            height: 50%;
            width: 100%;
            background-color: aliceblue;

            img{
                height: 100%;
                width: 100%;
            }
        }

    }

    .hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 50%;
        width: 100%;

        .hero-text {
            min-height: 50%;
            width: 100%;
            font-size: 1rem;

            h3, p {
                padding: 1rem;
            }
            
            h3{
                font-size: 1.3rem;
            }

            .price{
                font-size: 1.3rem;
            }
        }
    }

}