.opinions {
    display: flex;
    justify-content: right;
    align-items: right;
    height: 120vh;
    width: 100%;

    .hero-opinion {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80%;
        width: 35%;
        background-color: #01a79d;
        position: relative;
        top: 7rem;

        h3 {
            font-weight: 600;
            font-size: 2rem;
            text-align: center;
        }
    }

}