.opinions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    height: 90vh;
    width: 100%;

    .hero-opinion {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80%;
        width: 20%;
        background-color: #01a79d;
        position: relative;
        border-radius: 10px 0px 0px 10px;
        // top: 7rem;

        h2 {
            font-weight: 600;
            font-size: 2rem;
            text-align: center;
        }
    }

    .hero-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;

        .hero-profile-picture{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 60%;
            width: 30%;
            background-color: #01a79d;
            border-radius: 10px;

            .hero-picture{
                height: 11rem;
                width: 11rem;
                background-color: #f1f0f6;
                border-radius: 50%;
            }

            p{
                font-size: 1.4rem;
                padding: 2rem;
            }
        }
        .hero-user-review{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 55%;
            width: 50%;
            background-color: #f1f0f6;
            position: relative;
            border-radius: 0px 10px 10px 10px;
            top: 7rem;
            // box-shadow: 55px 25px rgb(27, 24, 44);

            p{
                font-size: 1.4rem;
                padding: 2rem;
                font-style: italic;
                letter-spacing: 0.5px;
            }
        }
    }
}